@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      background: #272C34;

      $anim-prop: 10s linear 3s backwards infinite;
      $dark: rgba(0,0,0,0.4);
      $dark-shadow: rgba(0,0,0,0.2);
      $light: #fff;
      $light-shadow: rgba(255,255,255,0.6);
      $off: ( 
        "1": 0,  
        "2": 10.625, "3": 11.875, "4": 13.125, "5": 14.375,
        "6": 66.25,  "7": 67.5,   "8": 68.75,  "9": 70,
        "10": 100
      );
      $on: (
        "1": 11.25,  "2": 12.5,   "3": 13.75,  "4": 15,
        "5": 65,
        "6": 65.625, "7": 66.875, "8": 68.125, "9": 69.375
      );
      @mixin flashing($offset) {
        #{(map-get($off, "1"))* 1%}, 
        #{(map-get($off, "2") + $offset)* 1%}, 
        #{(map-get($off, "3") + $offset)* 1%}, 
        #{(map-get($off, "4") + $offset)* 1%}, 
        #{(map-get($off, "5") + $offset)* 1%}, 
        #{(map-get($off, "6") + $offset)* 1%}, 
        #{(map-get($off, "7") + $offset)* 1%}, 
        #{(map-get($off, "8") + $offset)* 1%}, 
        #{(map-get($off, "9") + $offset)* 1%}, 
        #{(map-get($off, "10"))* 1%} {
          background: $dark;
          box-shadow: 0 0 10px 3px $dark-shadow;
        }
        #{(map-get($on, "1") + $offset) * 1%}, 
        #{(map-get($on, "2") + $offset) * 1%}, 
        #{(map-get($on, "3") + $offset) * 1%}, 
        #{(map-get($on, "4") + $offset) * 1%}, 
        #{(map-get($on, "5") + $offset) * 1%}, 
        #{(map-get($on, "6") + $offset) * 1%}, 
        #{(map-get($on, "7") + $offset) * 1%}, 
        #{(map-get($on, "8") + $offset) * 1%}, 
        #{(map-get($on, "9") + $offset) * 1%} {
          background: $light;
          box-shadow: 0 0 10px 3px $light-shadow;
        }
      }

      .neon { 
        position: absolute; 
        border-radius: 4px;
      }
      .left { left: 3%; top: 2.5%; }
      .top { left: 15%; top: 2.5%; }
      .middle { left: 15%; top: 46%; }
      .mid { left: 17%; top: 2%; }
      .bottom { left: 15%; top: 92%; }
      .right { left: 90%; top: 2.5%; }

      .vertical { width: 7px; height: 95%; }
      .long-h { width: 75%; height: 7px; }
      .short-h { width: 65%; height: 7px; }
      .slant { 
        width: 150%; 
        height: 7px; 
        transform-origin: 0% 0%;
        transform: rotateZ(61.3deg);
      }

      .letter {
        height: 35%;
        position: absolute;
        top: 32.5%;
      }

      .letter-e { 
        width: 20%; 
        left: 15%; 

        .left {
          animation: e-left $anim-prop;
          @keyframes e-left { @include flashing(3.75); }
        }
        .top {
          animation: e-top $anim-prop;
          @keyframes e-top { @include flashing(18.75); }
        }
        .middle, .bottom {
          animation: e-md-btm $anim-prop;
          @keyframes e-md-btm { @include flashing(8.75); }
        }
      }
      
      .letter-n { 
        width: 25%; 
        left: 37.5%; 

        .left {
          animation: n-left $anim-prop;
          @keyframes n-left { @include flashing(16.25); }
        }
        .mid {
          animation: n-mid $anim-prop;
          @keyframes n-mid { @include flashing(30); }
        }
        .right {
          animation: n-right $anim-prop;
          @keyframes n-right { @include flashing(2.5); }
        }
      }

      .letter-d { 
        width: 20%; 
        left: 65%; 

        .left {
          animation: d-left $anim-prop;
          @keyframes d-left { @include flashing(23.75); }
        }
        .curve-container {
          width: 90%; 
          height: 95%; 
          position: absolute;
          top: 2.5%;
  
          .curve {
            width: 120%;
            height: 120%;
            position: absolute;
            top: -10%;
            left: 2.8%;
            overflow: hidden;
  
            .inner-curve {
              width: 165%;
              height: 83.33%;
              border-radius: 50%; 
              position: absolute;
              top: 8%;
              left: -93%;
              animation: inner-curve $anim-prop;
  
              @keyframes inner-curve {
                #{map-get($off, "1") * 1%}, 
                #{map-get($off, "2") * 1%}, 
                #{map-get($off, "3") * 1%}, 
                #{map-get($off, "4") * 1%}, 
                #{map-get($off, "5") * 1%}, 
                #{map-get($off, "6") * 1%}, 
                #{map-get($off, "7") * 1%}, 
                #{map-get($off, "8") * 1%}, 
                #{map-get($off, "9") * 1%}, 
                #{map-get($off, "10") * 1%} {
                  border: 6px solid $dark;
                  box-shadow: 0 0 10px 4px $dark-shadow, 
                        inset 0 0 10px 4px $dark-shadow;
                }
                #{map-get($on, "1") * 1%}, 
                #{map-get($on, "2") * 1%}, 
                #{map-get($on, "3") * 1%}, 
                #{map-get($on, "4") * 1%}, 
                #{map-get($on, "5") * 1%}, 
                #{map-get($on, "6") * 1%}, 
                #{map-get($on, "7") * 1%}, 
                #{map-get($on, "8") * 1%}, 
                #{map-get($on, "9") * 1%} {
                  border: 6px solid $light;
                  box-shadow: 0 0 10px 4px $light-shadow, 
                        inset 0 0 10px 4px $light-shadow;
                }
              }
            }
          }
  
          .rounded {
            width: 20px;
            height: 47px;
            position: absolute;
            overflow: hidden;
  
            .inner-rounded {
              width: 6px;
              height: 6px;
              position: absolute;
              top: 20px;
              left: 17px;
              animation: inner-rounded $anim-prop;
  
              @keyframes inner-rounded {
                #{map-get($off, "1") * 1%}, 
                #{map-get($off, "2") * 1%}, 
                #{map-get($off, "3") * 1%}, 
                #{map-get($off, "4") * 1%}, 
                #{map-get($off, "5") * 1%}, 
                #{map-get($off, "6") * 1%}, 
                #{map-get($off, "7") * 1%}, 
                #{map-get($off, "8") * 1%}, 
                #{map-get($off, "9") * 1%}, 
                #{map-get($off, "10") * 1%} {
                  background: $dark;
                  box-shadow: 0 0 9px 5px $dark-shadow;
                }
                #{map-get($on, "1") * 1%}, 
                #{map-get($on, "2") * 1%}, 
                #{map-get($on, "3") * 1%}, 
                #{map-get($on, "4") * 1%}, 
                #{map-get($on, "5") * 1%}, 
                #{map-get($on, "6") * 1%}, 
                #{map-get($on, "7") * 1%}, 
                #{map-get($on, "8") * 1%}, 
                #{map-get($on, "9") * 1%}  {
                  background: $light;
                  box-shadow: 0 0 9px 5px $light-shadow;
                }
              }
            }
          }
  
          .rounded-top { top: -20px; left: -18px; }
          .rounded-bottom { top: 106px; left: -18px; }
        }
      }
    }
  }
}