@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* .frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #27ae60;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.6s linear forwards;
}
@keyframes appear {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* .frame .center #icon {
  display: none;
}
* .frame .center .icon {
  width: 8%;
  height: 8%;
  background: #fff;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: border-radius 0.6s ease-in, transform 0.6s ease-in, box-shadow 0.6s ease-in;
}
* .frame .center #icon:checked ~ .icon {
  border-radius: 0;
  transform: rotateZ(180deg);
  box-shadow: -4px -4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: border-radius 0.6s cubic-bezier(0.15, 0.47, 0.51, 0.96), transform 0.6s cubic-bezier(0.15, 0.47, 0.51, 0.96), box-shadow 0.6s cubic-bezier(0.15, 0.47, 0.51, 0.96);
}
* .frame .center .halo {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  opacity: 1;
  transition: transform 0.6s ease-in, opacity 0.1s ease-in;
}
* .frame .center #icon:checked ~ .halo {
  transform: scale(1);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.15, 0.47, 0.51, 0.96), opacity 0.1s cubic-bezier(0.15, 0.47, 0.51, 0.96) 0.3s;
}
* .frame .center .sparkles {
  width: 45%;
  height: 45%;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  opacity: 1;
  transition: transform 0.6s ease-in, opacity 0.1s ease-in;
}
* .frame .center .sparkles .sparkle {
  width: 18%;
  height: 2%;
  background: #fff;
  position: absolute;
  top: 49%;
  left: 41%;
}
* .frame .center .sparkles .sparkle-1 {
  transform: rotateZ(-90deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-2 {
  transform: rotateZ(-70deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-3 {
  transform: rotateZ(-50deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-4 {
  transform: rotateZ(-30deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-5 {
  transform: rotateZ(-10deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-6 {
  transform: rotateZ(10deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-7 {
  transform: rotateZ(30deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-8 {
  transform: rotateZ(50deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-9 {
  transform: rotateZ(70deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-10 {
  transform: rotateZ(90deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-11 {
  transform: rotateZ(110deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-12 {
  transform: rotateZ(130deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-13 {
  transform: rotateZ(150deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-14 {
  transform: rotateZ(170deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-15 {
  transform: rotateZ(190deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-16 {
  transform: rotateZ(210deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-17 {
  transform: rotateZ(230deg) translateX(7rem);
}
* .frame .center .sparkles .sparkle-18 {
  transform: rotateZ(250deg) translateX(7rem);
}
* .frame .center #icon:checked ~ .sparkles {
  transform: scale(1);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.15, 0.47, 0.51, 0.96), opacity 0.2s cubic-bezier(0.15, 0.47, 0.51, 0.96) 0.3s;
}
* .frame .center .background {
  width: 142%;
  height: 142%;
  border-radius: 50%;
  background: #2ecc71;
  position: absolute;
  transform: scale(0);
  transition: transform 0.55s ease-in-out;
}
* .frame .center #icon:checked ~ .background {
  transform: scale(1);
}

/*# sourceMappingURL=index.css.map */
