@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: #2C3E50;
      display: flex;
      justify-content: center;
      align-items: center;

      .candle {
        width: 35%;
        height: 45%;
        position: absolute;

        .flame {
          width: 12%;
          height: 16%;
          background: #FFAD00;
          border-radius: 8px 8px 8px 8px / 20px 20px 8px 8px;
          position: absolute;
          bottom: 73%;
          left: 44%;
          z-index: 1;
          transform-origin: 50% 100%;
          animation: wind 15s ease-in-out infinite,
                     size 20s ease-in-out infinite,
                     flicker 5s ease-in-out infinite;
          
          @keyframes wind {
            0%, 22%, 49%, 62%, 81%, 100% {
              border-radius: 2px 14px 8px 8px / 20px 20px 8px 8px;
            }

            14%, 32%, 56%, 70%, 89% {
              border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px;
            }
          }

          @keyframes size {
            0%, 22%, 49%, 62%, 81%, 100% {
              transform: scale(1,1);
            }

            14%, 32%, 56%, 70%, 89% {
              transform: scale(0.9,1.2);
            }
          }

          @keyframes flicker {
            0%, 22%, 49%, 62%, 81%, 100% {
              box-shadow: 0 0 20px 0 rgba(255,202,0,0.7);
            }

            14%, 32%, 56%, 70%, 89% {
              box-shadow: 0 0 20px 0 rgba(255,202,0,0.8);
            }
          }
        }

        .wick {
          width: 3%;
          height: 4%;
          background: #AD88A9;
          position: absolute;
          bottom: 70%;
          left: 48.5%;
        }

        .body {
          width: 45%;
          height: 65%;
          background: #fff;
          border-radius: 5px;
          position: absolute;
          bottom: 5%;
          left: 27.5%;

          &:before {
            content: '';
            width: 13%;
            height: 100%;
            background: #dde;
            border-radius: 0 5px 5px 0;
            position: absolute;
            right: 0;
          }
        }

        .support {
          width: 100%;
          height: 5%;
          background: darken(#2C3E70, 8%);
          border-radius: 4px;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}