@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      background: #34495E;
      color: #fff;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .rows {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        
        .row {
          width: 100%;
          height: 1%;
          z-index: 2;
        }

        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(230, 126, 34, 0.9);
          transition: transform 0.4s ease;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          transform: translateY(-200px);
          transition: transform 0.45s linear;

          h1 { 
            filter: blur(4px); 
            color: rbga(120,120,120,0.5);
            transform: translateY(200px);
            transition: transform 0.45s linear;
          }
        }

        @for $i from 1 through 100 {
          .row-#{$i}:hover ~ .overlay {
            transform: translateY(-(100 - $i) * 4px);
            transition: transform 0.1s linear;

            h1 { 
              transform: translateY((100 - $i)* 4px);
              transition: transform 0.1s linear;
            }
          }
        }
      }
    }
  }
}