@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #4B4841;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .scene  {
            width: 75%;
            height: 45%;
            perspective-origin: center;
            perspective: 1000px;

            .card {
                $rotation-duration: 1.5s;
                width: 100%;
                height: 100%;
                box-shadow: 3px 3px 10px 0px #000;
                position: relative;
                transition: all $rotation-duration ease;
                transform-style: preserve-3d;

                &:hover {
                    transform: rotateX(180deg);
                    box-shadow: 3px -3px 10px 0px #000;
                }

                .front, .back {
                    background: #FFCE4E;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backface-visibility: hidden;
                    position: absolute;
                }

                .front {
                    .bycicle {
                        transform-origin: 50% 100%;
                        animation: bycicle-moving 0.3s ease infinite alternate;
                    }
                    
                    @keyframes bycicle-moving {
                        0% { transform: scaleY(1); }
                        100% { transform: scaleY(0.96); }
                    }

                    svg {
                        width: 11rem;
                        height: 10px;
                        position: absolute;
                        top: 7.9rem;
                        left: 4rem;

                        line {
                            stroke: #4B4841;
                            stroke-width: 5px;
                            stroke-dasharray: 10 50 10 5 10 60 15 40 30 10 5 25 20 10;
                            stroke-dashoffset: 0;
                            animation: ground-motion 0.8s linear infinite;

                            @keyframes ground-motion {
                                to { stroke-dashoffset: 300; }
                            }
                        }
                    }
                }
                
                .back {
                    transform: rotateX(180deg);
                    
                    .helicopter {
                        position: relative;
                        z-index: 1;
                        animation: helicopter-moving 0.8s linear infinite alternate;
                    }
                    
                    @keyframes helicopter-moving {
                        0% { transform: translateY(-0.4rem); }
                        100% { transform: translateY(0.4rem); }
                    }

                    svg {
                        width: 160px;
                        height: 120px;
                        position: absolute;
                        top: 2rem;
                        z-index: 0;

                        .air {
                            stroke: #4B4841;
                            stroke-width: 3px;
                        }

                        @for $i from 1 through 6 {
                            .air-#{$i} {
                                $length: 10 + floor(random(15));
                                stroke-dasharray: $length 180-$length;
                                $offset: floor(random(180));
                                animation: air-motion-#{$i} 0.6s linear infinite;
                                
                                @keyframes air-motion-#{$i} {
                                    from { stroke-dashoffset: $offset; }
                                    to { stroke-dashoffset: $offset + 180; }
                                }
                            }
                        }
                    }
                }            
            }
        }
    }
}
