@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* .frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .frame .center .ring-1 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-1 5s ease-in-out infinite;
}
@keyframes ring-1 {
  4% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-2 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-2 5s ease-in-out infinite;
}
@keyframes ring-2 {
  8% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-3 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-3 5s ease-in-out infinite;
}
@keyframes ring-3 {
  12% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-4 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-4 5s ease-in-out infinite;
}
@keyframes ring-4 {
  16% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-5 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-5 5s ease-in-out infinite;
}
@keyframes ring-5 {
  20% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-6 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-6 5s ease-in-out infinite;
}
@keyframes ring-6 {
  24% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-7 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-7 5s ease-in-out infinite;
}
@keyframes ring-7 {
  28% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-8 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-8 5s ease-in-out infinite;
}
@keyframes ring-8 {
  32% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-9 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-9 5s ease-in-out infinite;
}
@keyframes ring-9 {
  36% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}
* .frame .center .ring-10 {
  width: 50%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: ring-10 5s ease-in-out infinite;
}
@keyframes ring-10 {
  40% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(-360deg);
  }
}

/*# sourceMappingURL=index.css.map */
