@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .frame {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        margin-top: -200px;
        margin-left: -200px;
        border-radius: 2px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: #fff;
        color: #333;
        font-family: 'Open Sans', Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: #16A085;
            position: relative;

            svg {
                width: 100%;
                height: 40%;
                position: absolute;
                top: 25%;
                left: 0;
                stroke: #fff;
                stroke-width: 0.05rem;
                
                fill: none;

                path {
                    stroke-dasharray: 0.8rem 11rem;
                    stroke-dashoffset: 0.8rem;
                    animation: move 3s linear infinite;
                    @keyframes move {
                        0% { stroke-dashoffset: 0.8rem; }
                        28% { stroke-dashoffset: -3rem; }
                        44% { stroke-dashoffset: -6rem; }
                        70%, 100% { stroke-dashoffset: -10rem; }
                    }
                }
                
                circle {
                    animation: expand 3s linear infinite;
                    transform-origin: 50% 52.5%;
                    @keyframes expand {
                        0%, 33% { 
                            opacity: 0; 
                            transform: scale(0.2);
                        }
                        40% { opacity: 1; }
                        50%, 100% { 
                            opacity: 0; 
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    
}
