@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #394568;
}
* .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* .frame .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
* .frame .center .graphic {
  width: 100%;
  height: 80%;
  background: #1A2238;
  position: relative;
  overflow: hidden;
}
* .frame .center .graphic .moon {
  background: #F6EDBD;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 100%;
  left: 3rem;
  overflow: hidden;
  box-shadow: 2px 2px 3px 4px rgba(246, 237, 189, 0.2), 2px -2px 3px 4px rgba(246, 237, 189, 0.2), -2px 2px 3px 4px rgba(246, 237, 189, 0.2), -2px -2px 3px 4px rgba(246, 237, 189, 0.2);
  animation: moon-rise 1s linear forwards;
}
* .frame .center .graphic .moon .crater-1 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 7%;
  height: 7%;
  top: 21%;
  left: 46%;
}
* .frame .center .graphic .moon .crater-2 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 5%;
  height: 5%;
  top: 74%;
  left: 59%;
}
* .frame .center .graphic .moon .crater-3 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 16%;
  height: 16%;
  top: 84%;
  left: 44%;
}
* .frame .center .graphic .moon .crater-4 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 8%;
  height: 8%;
  top: 88%;
  left: 70%;
}
* .frame .center .graphic .moon .crater-5 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 5%;
  height: 5%;
  top: 56%;
}
* .frame .center .graphic .moon .crater-6 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 15%;
  height: 15%;
  top: 68%;
  left: 30%;
}
* .frame .center .graphic .moon .crater-7 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 8%;
  height: 8%;
  top: 31%;
  left: 58%;
}
* .frame .center .graphic .moon .crater-8 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 19%;
  height: 19%;
  top: 76%;
  left: 43%;
}
* .frame .center .graphic .moon .crater-9 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 19%;
  height: 19%;
  top: 15%;
  left: 58%;
}
* .frame .center .graphic .moon .crater-10 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 16%;
  height: 16%;
  top: 37%;
  left: 64%;
}
* .frame .center .graphic .moon .crater-11 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 17%;
  height: 17%;
  top: 12%;
  left: 45%;
}
* .frame .center .graphic .moon .crater-12 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 5%;
  height: 5%;
  top: 78%;
  left: 27%;
}
* .frame .center .graphic .moon .crater-13 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 15%;
  height: 15%;
  top: 9%;
  left: 36%;
}
* .frame .center .graphic .moon .crater-14 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 17%;
  height: 17%;
  top: 24%;
  left: 41%;
}
* .frame .center .graphic .moon .crater-15 {
  background: #f1e399;
  border-radius: 50%;
  position: absolute;
  width: 12%;
  height: 12%;
  top: 70%;
  left: 53%;
}
@keyframes moon-rise {
  to {
    top: 3rem;
    left: 3.5rem;
  }
}
* .frame .center .graphic .back-hill {
  background: #222d49;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
}
* .frame .center .graphic .back-hill-1 {
  bottom: -65%;
  left: -15%;
}
* .frame .center .graphic .back-hill-2 {
  bottom: -63%;
  right: -25%;
}
* .frame .center .graphic .front-hill {
  background: #2a375b;
  border-radius: 50%;
  width: 21rem;
  height: 21rem;
  position: absolute;
}
* .frame .center .graphic .front-hill-1 {
  bottom: -84%;
  left: -30%;
}
* .frame .center .graphic .front-hill-2 {
  bottom: -76%;
  left: 15%;
}
* .frame .center .graphic .front-hill-3 {
  bottom: -85%;
  right: -50%;
}
* .frame .center .graphic .bg-raindrop-1 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-1 0.9s linear 0.4s infinite;
}
* .frame .center .graphic .bg-raindrop-1:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 0.4s infinite;
}
@keyframes bg-raindrop-1 {
  0% {
    bottom: 110%;
    left: 20%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 5%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 5%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-2 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-2 0.9s linear 0.8s infinite;
}
* .frame .center .graphic .bg-raindrop-2:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 0.8s infinite;
}
@keyframes bg-raindrop-2 {
  0% {
    bottom: 110%;
    left: 35%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 20%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 20%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-3 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-3 0.9s linear 1.2s infinite;
}
* .frame .center .graphic .bg-raindrop-3:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 1.2s infinite;
}
@keyframes bg-raindrop-3 {
  0% {
    bottom: 110%;
    left: 50%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 35%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 35%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-4 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-4 0.9s linear 1.6s infinite;
}
* .frame .center .graphic .bg-raindrop-4:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 1.6s infinite;
}
@keyframes bg-raindrop-4 {
  0% {
    bottom: 110%;
    left: 65%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 50%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 50%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-5 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-5 0.9s linear 2s infinite;
}
* .frame .center .graphic .bg-raindrop-5:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 2s infinite;
}
@keyframes bg-raindrop-5 {
  0% {
    bottom: 110%;
    left: 80%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 65%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 65%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-6 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-6 0.9s linear 2.7s infinite;
}
* .frame .center .graphic .bg-raindrop-6:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 2.7s infinite;
}
@keyframes bg-raindrop-6 {
  0% {
    bottom: 110%;
    left: 45%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 30%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 30%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-7 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-7 0.9s linear 3.1s infinite;
}
* .frame .center .graphic .bg-raindrop-7:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 3.1s infinite;
}
@keyframes bg-raindrop-7 {
  0% {
    bottom: 110%;
    left: 65%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 50%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 50%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-8 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-8 0.9s linear 3.5s infinite;
}
* .frame .center .graphic .bg-raindrop-8:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 3.5s infinite;
}
@keyframes bg-raindrop-8 {
  0% {
    bottom: 110%;
    left: 85%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 70%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 70%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-9 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-9 0.9s linear 3.9s infinite;
}
* .frame .center .graphic .bg-raindrop-9:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 3.9s infinite;
}
@keyframes bg-raindrop-9 {
  0% {
    bottom: 110%;
    left: 105%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 90%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 90%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .graphic .bg-raindrop-10 {
  background: #6699ff;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: 110%;
  animation: bg-raindrop-10 0.9s linear 4.3s infinite;
}
* .frame .center .graphic .bg-raindrop-10:after {
  content: "";
  width: 2%;
  height: 0%;
  position: absolute;
  animation: bg-raindrop-tail 0.9s linear 4.3s infinite;
}
@keyframes bg-raindrop-10 {
  0% {
    bottom: 110%;
    left: 25%;
  }
  80% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 1;
  }
  90% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 10%;
  }
  100% {
    width: 1.1rem;
    height: 0.3rem;
    bottom: 0rem;
    left: 10%;
    opacity: 0.3;
  }
}
@keyframes bg-raindrop-tail {
  0% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  80% {
    border-bottom: 1rem solid #6699ff;
    border-left: 0.28rem solid transparent;
    border-right: 0.25rem solid transparent;
    top: -0.65rem;
    left: 0.1rem;
    transform: rotate(20deg);
  }
  90% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
  100% {
    border-bottom: 0.5rem solid #6699ff;
    border-left: 0.6rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: 0.05rem;
    transform: rotate(0deg);
  }
}
* .frame .center .weather-info {
  width: 100%;
  height: 20%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .frame .center .weather-info .temperature {
  font-size: 2.5rem;
}
* .frame .center .weather-info .weather-data, * .frame .center .weather-info .forecast {
  display: flex;
}
* .frame .center .weather-info .weather-data {
  flex-direction: column;
  font-size: 0.92rem;
  margin: 0 5rem 0 1rem;
}
* .frame .center .weather-info .forecast {
  text-align: right;
  font-size: 0.94rem;
}
* .frame .center .weather-info .forecast .days, * .frame .center .weather-info .forecast .max-min {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
}
* .frame .center .weather-info .forecast .max-min {
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
